
// -------------------------------------------------------------------------------------
// Typography
// -------------------------------------------------------------------------------------

@font-face {
  font-family: 'GT-Walsheim';
  src: url('../fonts/gt-walsheim-regular.woff') format('woff');
  // src: url('../fonts/xxxx.woff2') format('woff2'),
  //      url('../fonts/xxxx.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GT-Walsheim';
  src: url('../fonts/gt-walsheim-medium.woff') format('woff');
  // src: url('../fonts/xxxx.woff2') format('woff2'),
  //      url('../fonts/xxxx.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

$sans: 'GT-Walsheim', sans-serif;

// -------------------------------------------------------------------------------------

@mixin font-style($font-fam, $xs, $sm, $md, $lg, $xl, $letter-sp, $line-h, $weight, $style) {
  font-family: $font-fam;
  font-size: $xs;
  letter-spacing: $letter-sp;
  line-height: $line-h;
  font-weight: $weight;
  font-style: $style;
  font-stretch: normal;
  @include media-breakpoint-up(sm) { font-size: $sm; }
  @include media-breakpoint-up(md) { font-size: $md; }
  @include media-breakpoint-up(lg) { font-size: $lg; }
  @include media-breakpoint-up(xl) { font-size: $xl; }
}

// -------------------------------- font    xs      sm      md      lg      xl      lsp     lh      wgh   style

@mixin font-s { @include font-style($sans,  14px,   14px,   14px,   14px,   14px,   0.00em, 1.35em, 400,  normal ); }
@mixin font-m { @include font-style($sans,  16px,   16px,   16px,   16px,   16px,   0.00em, 1.35em, 400,  normal ); }
@mixin font-l { @include font-style($sans,  24px,   24px,   24px,   24px,   24px,   0.00em, 1.2em,  400,  normal ); }
@mixin font-s-strong { @include font-s; font-weight: 500; }
@mixin font-m-strong { @include font-m; font-weight: 500; }
@mixin font-l-strong { @include font-l; font-weight: 500; }

.font-s         { @include font-s; }
.font-m         { @include font-m; }
.font-l         { @include font-l; }
.font-s-strong  { @include font-m-strong; }
.font-m-strong  { @include font-m-strong; }
.font-l-strong  { @include font-l-strong; }




